@import "reset.css";
@import "theme.css";

@import "statusbar.css";

@import "welcome.css";
@import "friends.css";
@import "chat.css";

* {
  box-sizing: border-box;
}
body {
  height: 100dvh;
}

.content-wrapper {
  padding: 16px;
}
