@import "reset.css";
@import "theme.css";

@import "statusbar.css";

@import "nav.css";
@import "content-header.css";

@import "welcome.css";
@import "friends.css";
@import "chat.css";

@import "music.css";
* {
  box-sizing: border-box;
}
body {
  height: 100dvh;
  position: relative;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

.content-wrapper {
  display: block;
  overflow: scroll;
  position: relative;
  padding: 0 16px;
  width: 100%;
  padding-bottom: 0;
}

.content-wrapper::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 767px) {
  .large-view {
    display: flex;
  }
  .chat-wrapper {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .large-view {
    display: flex;
    justify-content: center;
  }
  .content-wrapper {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .large-view {
    display: flex;
    justify-content: center;
  }
  html {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    width: 1024px;
  }
  .content-wrapper {
    width: 50%;
  }
}
