@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --theme-color: #aefd6c;
  --simbol-color: rgba(0, 0, 0, 0.9);
  --label-color: #35281e;
  --placeholder-color: rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: small;
}
